@tailwind base;
@tailwind components;
@tailwind utilities;






p{
    font-size: 13px;
}

.main__hero__Section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.award-section {
 margin-left: 0;
}



.child__section{
    max-width: 50%;
    margin-left: 2.5rem;
}

.hero-text {
  color: #7509e1; 
  font-size: 3.7rem;
  font-family: "Instrument Sans", sans-serif;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  border-right: 0.15em solid orange; 
  box-sizing: border-box;
  font-weight: 600;
  opacity: 0;
}

.hero__header__text h2{
    font-family: "Instrument Sans", sans-serif;
    font-size: 3.2rem;
    color: rgb(39, 38, 38);
    font-weight: 600;
}

.description__secion{
    margin: 2rem 0;
}

.description__secion p {
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
    color: rgb(77, 76, 76);
}


.image__layout img{
    max-width: 500px;
    margin-right: 1rem;
}

.iconinc__img h2{
    font-size: 19px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
}

.iconinc__img p{
    font-size: 16px;
    color: rgb(79, 78, 78);
}

.child__section{
  position: relative;
}

.trust_container{
  position: absolute;
  top: -5%;
  right: -5%;
}


@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #7509e1;
  }
}

.hero-text {
  animation: blink-caret 0.75s step-end infinite;
}

@media (max-width: 378px) {
  .hero-text {
    font-size: 2rem;
  }
  .hero__header__text h2{
    font-size: 2rem;
  }

  .child__section{
    max-width: 100%;
    margin-left: 0.5rem;
}

svg{
    display: none;
    color: #b6b6b6;
}
}

@media (max-width: 468px) {
  .hero-text {
    font-size: calc(1.485rem + 2.82vw);
  }
  .hero__header__text h2{
    font-size: calc(1.485rem + 2.82vw);
  }

   .image__layout {
    margin-top: 4rem;
   }

  .image__layout img{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .award-section{
    width: 280px;
  }

  .child__section{
    /* max-width: 100%; */
    margin-top: 50px;
    margin-left: 0;
}

.info__section__support{
    flex-direction: column;
    align-items: flex-start;
}

svg{
    display: none;
}



}

@media (max-width: 1025px) {
  .hero-text {
    font-size: calc(1.485rem + 2.82vw);
  }
  .hero__header__text h2{
    font-size: calc(1.485rem + 2.82vw);
  }

   .image__layout {
    margin-top: 4rem;
   }

  .image__layout img{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .award-section{
    width: 280px;
  }

  .child__section{
    max-width: 100%;
    margin-left: 0;
}

.info__section__support{
    flex-direction: column;
    align-items: flex-start;
}

svg{
    display: none;
}



}
